<!--Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <footer id="footer">
        <div class="footer container">
          <div class="msg">
            <h2><span>Thank You For Visiting My Webpage</span></h2>
            <h3>Let's Connect !</h3>
          </div>
      
          <!-- Social Media Icons -->
          <div class="socialMedia">
            <a href="mailto:patelhetvij@gmail.com" target="_blank">
                <i class="fas fa-envelope"></i>
              </a>
            <a href="https://www.linkedin.com/in/hetvi-patel-59043b257" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/hetvi_patel_0511/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://discordapp.com/users/1200528621002035316" target="_blank">
              <i class="fab fa-discord"></i>
            </a>
            <a href="https://github.com/Hetvi-Patel-5" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <p>Contact me at: <a href="mailto:patelhetvij@gmail.com">patelhetvij@gmail.com</a></p>
          <p> &copy; 2024 Hetvi Patel. All rights reserved.</p>
        </div>
      </footer>

</nav>
</body>
</html>