<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

    <!-- About Me Section -->
    <section id="about">
        <div class="about container">
            <h1 class="sectionTitle">About</h1>
            <!-- Small line under title -->
            <hr class="divider" /> 

            <div class="aboutContent">
                <div class="colLeft">
                    <video alt="Hetvi Patel's about me video" width="300" height="500" controls poster="about.png" class="videoBorder">
                        <source src="on_record.mp4" type="video/mp4" >
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="colRight">
                  <h2>Aspiring Business Analyst</h2>
                  <p>Hi, I'm currently pursuing a bachelor's degree in IT Technology Management Honors at Ontario Tech University. I am curious about learning more skills. My interest is particularly in business analytics, with a focus on exploring data and cybersecurity.</p>
                    
                  <h3>Skills & Experience</h3>
                  <p>I have been an Orientation Leader and am currently an Associate Operations Officer at the Technology Management Student Association. I was also a project lead for various projects; you can find more about that in the Projects section. Here are some key skills I possess:</p>
                  <div class="skills">
                    <br>
                    <ul>
                      <li>Data Analysis & Visualization</li>
                      <li>Cybersecurity Awareness</li>
                      <li>Business Intelligence</li>
                      <li>Project Management</li>
                      <li>Leadership & Teamwork </li>
                    </ul>
                  </div>
                </div>            
            </div>
        </div>
    </section>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>