<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

    <!-- About  This Tracker Section -->
    <section id="about">
        <div class="about container">
            <h1 class="sectionTitle">About This Tracker</h1>
            <!-- Small line under title -->
            <hr class="divider" /> 

            <div class="aboutContent">
                <div class="colLeft">
                    <img src="tracker-info.png" alt="About Workout Tracker" class="videoBorder" width="300" height="500" />
                </div>
                <div class="colRight">
                  <h2>Welcome to Workout Tracker</h2>
                  <p>This application helps you log, track, and analyze your fitness activities. Whether you're a beginner or an advanced athlete, our goal is to simplify your journey towards a healthier lifestyle.</p>
                    
                  <h3>Features & Benefits</h3>
                  <p>With Workout Tracker, you can easily monitor your fitness progress. Key features include:</p>
                  <div class="features">
                    <br>
                    <ul>
                      <li>Log daily workouts and exercises</li>
                      <li>Track progress with visual charts</li>
                      <li>Analyze workout trends over time</li>
                      <li>Set and achieve fitness goals</li>
                      <li>Customized plans for different fitness levels</li>
                    </ul>
                  </div>
                </div>            
            </div>
        </div>
    </section>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>