
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!--home section-->
    <section id="home">
        <div class="home container">
          <div class="homeContent">
            <div class="textContent">
                <h1>Hello, <span></span></h1>
                <h1>My Name is <span> </span></h1>
                <h1 style="color: #b773ff;"> <span>Hetvi Patel </span></h1> <br><br>
                <div class="button">
                    <a href="#projects" class="btn">Projects</a>
                </div>
            </div>
                    
            <div class="userImage">
                <img src="/public/Assets/images/user.png" alt="Hetvi Patel's Profile Image" height="500" width="350" class="homeUserImg"/>
            </div>
          </div>
        </div>
      </section>



<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>



 