
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!--home section-->
    <section id="home">
        <div class="home container">
          <div class="homeContent">
            <div class="textContent">
                <h1>Welcome to <span></span></h1>
                <h1>Your Personal <span>Workout Tracker</span></h1>
                <h1 style="color: #b773ff;"> <span>Start Your Fitness Journey Today! </span></h1> <br><br>
                <div class="button">
                    <a href="#about" class="btn">Learn More</a>
                    <a href="/workouts" class="btn">My Workouts</a>
                </div>
            </div>
                    
            <div class="userImage">
                <img src="/public/Assets/images/fitness-user.png" alt="Workout Tracker User" height="500" width="350" class="homeUserImg"/>
            </div>
          </div>
        </div>
      </section>



<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>



 