<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


    <!-- projects pection -->
    <section id="projects">
        <div class="projects container">
            <h1 class="sectionTitle">My Recent <span>Projects</span></h1>
            <hr class="divider" />
          <div class="allProjects">
            <div class="projectItem">
              <img src="pro-1.png" alt="Project 1 Image" class="projectImg" />
              <div class="projectInfo">
                <h2>Tiny Ground Station</h2>
                <p>The TinyGS project involved the development of a ground station for satellite communications, enabling users to receive data from various satellite constellations. During the project, I collaborated with a team to design and implement a cost-effective solution using open-source software and hardware components. The project aimed to facilitate hands-on learning about satellite technology and provide a platform for students and enthusiasts to explore real-time data reception from satellites, promoting engagement in STEM fields.</p>
              </div>
            </div>
            <div class="projectItem">
              <img src="pro-2.png" alt="Project 2 Image" class="projectImg" />
              <div class="projectInfo">
                <h2>Socio-Economic Analysis of Life Expectancy Trends</h2>
                <p>This project analyzes life expectancy data from the early 2000s across various countries to identify key socio-economic factors influencing longevity. By employing regression analysis and statistical techniques, we examine the relationships between life expectancy and variables such as health care spending and education expenditures. The insights gained aim to inform global health policies and enhance understanding of the socio-economic determinants of health outcomes.</p>
              </div>
            </div>
          </div>
        </div>
    </section>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>