<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


    <!-- Workout Plans Section -->
    <section id="workout-plans">
        <div class="plans container">
            <h1 class="sectionTitle">Our <span>Workout Plans</span></h1>
            <hr class="divider" />
          <div class="allPlans">
            <div class="planItem">
              <img src="plan-1.png" alt="Workout Plan 1" class="planImg" />
              <div class="planInfo">
                <h2>Beginner Full-Body Plan</h2>
                <p>A 4-week plan designed for beginners to build strength and endurance through simple yet effective exercises. Perfect for anyone new to fitness.</p>
              </div>
            </div>
            <div class="planItem">
              <img src="plan-2.png" alt="Workout Workout 2" class="planImg" />
              <div class="planInfo">
                <h2>Advanced Weight Training</h2>
                <p>Push your limits with this 6-week advanced weight training plan. Focuses on hypertrophy, strength, and progression techniques.</p>
              </div>
            </div>
          </div>
        </div>
    </section>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>