
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  html {
    scroll-behavior: smooth;
  }

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
  
  /* Header Styling */
  #header {
    background: linear-gradient(-20deg, #111, #8a45d3);
    color: white;
    padding: 15px 0;
  }

  .navbar{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .logo h1{
    font-size: 2.3rem;
    display: inline-block;
    vertical-align: middle;
    color:white;
  }

  #header ul {
    list-style: none;
    text-align: right;

  }
  
  #header ul li {
    display: inline;
    margin: 0 13px;
  }
  
  #header ul li a {
    color: #b773ff;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    transition: color 0.3s ease;
    display: inline-block;
    vertical-align: middle;
  }

  
  #header ul li a:hover {
    color: #fff823;
  }
  
  .logo {
    max-width: 250px;
  }

  .navlist li a {
    color: #b773ff;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .navlist li a:hover {
    color: #fff823;
  }

  
  /* Section Styling */
  section {
    padding: 50px 0;
    text-align: justify;
  }
  
  #home h1 {
    font-size: 3rem;
    color: white;
  }
  
  .homeUserImg {
    width: 350px;
    height: auto; 
    border-radius: 5%; 
  }

  /* Prevent image from shrinking */
  .userImage { 
    flex-shrink: 0; 
  }

  .homeContent {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 25px;
  }

  #home h1 span {
    color: #b773ff;
    font-size: 4rem; 
    font-weight: bold;
  }

  #home {
    background-color: #111;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .textContent {
    flex: 1; 
    margin-right: 20px; 
  }
  #about {
    background-color: #111;
    min-height: 100vh;
    display: flex;
    justify-content: center;
  } 

  .aboutContent {
    display: flex;
    justify-content: space-evenly; 
    align-items: flex-start;
    padding: 25px;
  }
  
  .colLeft {
    flex: 40%;
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
  .colRight {
    flex: 40%; 
    padding-left: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .sectionTitle {
    font-size: 2.5rem; 
    color: #b773ff;
    margin-bottom: 10px;
  }
  
  .divider {
    width: 100%;
    height: 2px; 
    background-color: #f0f0f0; 
    margin-bottom: 20px;
  }
  
  .videoBorder {
    border: 5px solid #f0f0f0; 
    border-radius: 10px;
  }
  .skills {
    margin-left: 25px;
  }
  h2 {
    font-size: 2rem; 
    color: #b773ff; 
    margin-top: 20px;
  }
  
  h3 {
    font-size: 1.5rem; 
    color: #b773ff;
    margin-top: 20px;
  }
  
  p {
    font-size: 1rem; 
    line-height: 1.5; 
    margin-top: 10px; 
  }

  /* Projects Section Styling */
  #projects {
    background-color: #f0f0f0;
    padding: 50px 20px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .allProjects {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    gap: 10px;
    margin-inline-start: auto;
  }
  
  .projectImg {
    width: 50%;
    position: relative; 
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .projectItem {
    background-color: white; 
    border: 2px solid #b773ff; 
    border-radius: 10px; 
    padding: 20px;
    flex: 40%; 
    max-width: 48%; 
    box-shadow: 0 4px 8px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center; 
  }
  

  .projectInfo h2 {
    color: #b773ff; 
    font-size: 1.5rem; 
    margin-bottom: 10px;
    text-align: center;
  }

  .projectInfo p {
    color: #333; 
    font-size: 1rem;
    line-height: 1.6;
  }

  /* Button Styling */
  .btn {
    padding: 10px 30px;
    background-color: #b773ff;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    
  }

  .btn:hover {
    background-color: #fff823;
    color: black;
  }
  
  button[type="submit"], button[type="reset"] {
    background-color: #b773ff;
  }
  
  button[type="submit"]:hover, button[type="reset"]:hover {
    background-color: #fff823; 
    color: black;
  }

  /*contact section*/
  .contact-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 5px;
  }

  .contact-header h1 {
    margin: 0;
    font-size: 2rem; 
  }

  .contact-header .icon img {
    max-width: 70px;
    height: auto;
  }

  .contactInfo form {
    margin-top: 10px;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }

  .icon {
    margin: 20px;
  }

  /* Form styles */
  form {
    background-color: #333 ;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; 
    border: 2px solid #b773ff;
  }

  form input,form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #b773ff;
    background-color: #222;
    color: #fff;
  }

  form label {
    color: #f0f0f0;
    font-size: 18px;
  }
 
  form button {
    background-color: #b773ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .buttons .btn {
    width: 45%;
  }

/* Footer Styling */
footer {
    background-color: #000000;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
 
  .socialMedia {
    margin-top: 20px;
  }
  
  .socialMedia a {
    margin: 0 15px;
    text-decoration: none;
  }
  
  .socialMedia i {
    font-size: 24px;
    color: #b773ff;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .socialMedia a:hover i {
    color: #fff823;  /* Change to any color you'd like */
    transform: scale(1.2);
  }
  
  #home {
    background-color: #444; /* Dark background for home */
  }
  
  #about, #projects, #contact {
    background-color: grey; /* Darker contrast for other sections */
  }